# Rosmaster A1 USB Serial Device Rules
# Uses device IDs for stable symlinks regardless of USB port or enumeration order
#
# To install: sudo cp 99-rosmaster-serial.rules /etc/udev/rules.d/
# To reload:  sudo udevadm control --reload-rules && sudo udevadm trigger

# T-mini Plus LIDAR - Silicon Labs CP2102 (idVendor=10c4, idProduct=ea60)
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE="0777", SYMLINK+="tmini"

# Motor Controller - QinHeng CH340 (1a86:7523)
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", MODE="0777", SYMLINK+="myserial"

# Speech Module - QinHeng CH340 variant (1a86:7522)
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7522", MODE="0777", SYMLINK+="myspeech"
